@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
$negro:#181B32;
$mulish:'Mulish', sans-serif;
$blanco:#fff;
$azul: #003063;
$amarilllo:#FFCC00;

;
::selection {
    background: $amarilllo;
    color: $azul;
  }
  
  ::-webkit-scrollbar {
      width: 9px;     /* Tamaño del scroll en vertical */
      height: 8px;    /* Tamaño del scroll en horizontal */
  }
  ::-webkit-scrollbar-thumb {
      background: $negro;
      border-radius: 6px;
  }
  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  ::-webkit-scrollbar-thumb:hover {
      background: $azul;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  /* Cambiamos el fondo cuando esté en active */
  ::-webkit-scrollbar-thumb:active {
      background-color: $azul;
  }


body{
  font-family: $mulish;
  overflow-x:hidden;
}

.modal{     
  background-color: #00000066;
  .close{      
    position: absolute;
    right: 0px;
    top:0px;
    background-color: $negro;
    color: $blanco;
    opacity: 1;
    width: 40px;
    height: 40px;
    display: block;    
    line-height: 0 !important;
    img{
      width: 14px;
    }
    &:hover{
      opacity: 1;
    }
  }
  &-content{    
  } 
  &-body{
    padding: 0;
    height: 250px;
    position: relative;    
    
  }
}

  .historia{
    //background: $azul;  
    height: 100vh;
    position: relative;     
    .hitos__responsive{
      font-size: 20px;
      color: $negro;
      line-height: 25px;
      padding: 8px 16px;
      background-color: $blanco;   
        
    }
    .slick-arrow{
      display: none !important;
    }
    .container-fluid{
      padding: 0;
    }
    .hitos{
      position: absolute;
      background-color: $amarilllo;
      color: $azul;
      display: none;
      z-index: 12;
      top: 10%;
      font-size: 20px;
      line-height: 25px;
      font-weight: bold;
      padding: 8px 25px 8px 20px;
      &::after{
        content: "";
        width: 10px;
        height: 10px;
        background-color: $azul;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }    
    .naveResponsive{
      position: absolute;
      top: 41px;
      left: 0;
      padding: 0;
      border-top: 1px solid #16246b4f;   
    }
    &-content{
      color: $blanco;
      background-color: $azul;
      position: relative;   
      margin-top: 62px;        
      &__texto{
        position: relative;        
        height: 90vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;        
        .primeror{
          text-align: center;
          width: 700px;
          color: $blanco;
          h2{
            font-weight: 900;
            font-size: 40px;
            line-height: 50px;
          }
          .parrafo{
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.1);
          }
          a{
            img{
              margin: auto;
            }
            cursor: pointer;
          }
        }
        .item{            
          position: absolute;
          width: 90%;
          padding: 23px 20px;          
          bottom: 20px;
          left: 0;
          margin: auto;
          right: 0;          
          background-color: $blanco;            
          &:after{
            content: "";
            position: absolute;
            width: 23px;
            height: 23px;
            background-color: $amarilllo;
            top: -40px;
            left: 0;
          }
          span{            
            color: $azul;
            font-weight: 900;            
            line-height: 50px;

            font-size: 33px;
            display: block;
            margin-bottom: 7px;
          } 
          &__texto{                                    
            max-height: 285px;            
            color: $negro;
            position: relative;            
            p{
              color: $negro;                            
              font-size: 14px;
              line-height: 18px;
              margin: 0;
            } 
          }
        }        
      }      
    }
    .navegodor{
      width: 100%;
      float: left;
    }
    .flechas{      
      width: 12%;
      float: left;
      height: 62px;
      display: none;
    }
    &-nav{      
      color: $negro;
      &__item{      
        font-size: 14px;
        line-height: 18px;
        text-align: center;                        
        font-weight: 600;
        height:  62px !important; 
        background: $blanco;
        color: $negro;
        border-left: 1px solid $blanco;
        border-right: 1px solid $blanco;
        position: relative;        
        padding: 14px 2px;  
        cursor: pointer;
        outline: none;
        .fecha{
          padding: 8px 2px;
          display: block;
        }
        &::after{
          content: "";
          position:absolute;
          height: 10px;
          width: 100%;
          top: -10px;
          background-color: transparent;
          left: 0;
        }  
        &:before{
          content: "";
          position: absolute;
          height: 7px;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: transparent;
        }         
      } 
    }
    .slick{      
      &-current{
        color: $negro;        
        position: relative;        
        .fecha{
          display: block;
          font-weight: bold;
          background-color: $amarilllo;
          padding: 8px 2px;          
          border-radius: 5px;
        }
        &::before{
          background-color: transparent;
        }
        &::after{
          background-color: $azul;
        }          
      }
    }
  }

  @media (min-width: 768px) {
      
    .historia{
      .hitos{
        display: block !important;
      }
      &-content{
        margin-top: 0;
        &:after{
          display: block;
        }
        &__texto{
          .item{
            width: 395px;
            padding: 25px 23px;
            top: 38%;
            bottom: auto;
            left: 10%;
            right: auto;
            span{
              font-size: 40px;            
              margin-bottom: 17px;
            }
           
          }
        }       
      }
      .naveResponsive{
        //position: relative;
        top: auto;
        bottom: 0;
        border-top: none;
        //padding:0px 15px;
      }
      &-nav{
        color: $azul;
        &__item{
          color: $azul;
          padding: 21px 8px; 
          height: 78px  !important;  
          border: none;
          margin-top: 11px;               
          .fecha{
            padding: 9px 0px;
          }
        }
      }
      .slick{
        &-current{          
          color: $blanco;
          background: $azul;
          &::before{
            background-color: $amarilllo;
          }
          .fecha{
            background-color: $azul;
            padding: 0;
          }
        }
      
      }
      .navegodor{
        width: 82%;
      }
      .flechas{
        width: 18%;
        float: left;
        height: 78px;
        display: block;
        margin-top: 11px;
        span{
          display: inline-block;          
          background-color: $amarilllo;
          height: 78px;
          float: left;
          width: 50%;
          cursor: pointer;
          padding: 25px 30px;
          &:hover{
            
            background-color: darken($color:$amarilllo, $amount: 5);
          }
          &:nth-of-type(2){
            img{
              transform: rotate(180deg);
            }
          }
          img{

          }
        }
      }
    }
  }
  @media (min-width: 920px) {
    .historia{
      .navegodor{
        width: 88%;
      }
      .flechas{
        width: 12%;
  
      }
    }
    .modal{
      &-body{
        height: 444px;
      }
    }
    .modal-dialog {
      max-width: 790px;
    }

    
  }
  @media (min-width: 1350px) {
  
    .historia{
      .container-fluid{
        padding: 0;
      }
    }

    .modal{
      &-body{
        height: 537px;
      }
    }
    .modal-dialog {
      max-width: 957px;
    }  

  }  

  @media (min-width: 1600px) {
    .modal-body {
      height: 736px;
    }
    .modal-dialog {
      max-width: 1378px;
    }
    .historia{    
      .navegodor{
        width: 93%;
      }
      .flechas{
        width: 7%;
  
      }  
      &-content{
        &__texto{  
          height: 93.4vh;        
          .item{
            width: 442px;
            top: 45%;
            span{
              font-size: 43px;
            }
            &__texto{ 
                p{
                  font-size: 17px;
                  line-height: 20px;
                }          
            }
          }
          .primeror{
            width: 672px;
            h2{
              font-size: 44px;
              line-height: 59px;
            }
            .parrafo{
              font-size: 21px;
              margin-bottom: 34px;
              line-height: 32px;
            }
          }
          .anio{
            &__grande{
              font-size: 160px;
              left: -30px;
            }
          }
        }
        &__img{
          padding: 0;
        }
      }      
    }
  
  }