@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
::-moz-selection {
  background: #FFCC00;
  color: #003063;
}
::selection {
  background: #FFCC00;
  color: #003063;
}

::-webkit-scrollbar {
  width: 9px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}

::-webkit-scrollbar-thumb {
  background: #181B32;
  border-radius: 6px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
  background: #003063;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
  background-color: #003063;
}

body {
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
}

.modal {
  background-color: #00000066;
}

.modal .close {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #181B32;
  color: #fff;
  opacity: 1;
  width: 40px;
  height: 40px;
  display: block;
  line-height: 0 !important;
}

.modal .close img {
  width: 14px;
}

.modal .close:hover {
  opacity: 1;
}

.modal-body {
  padding: 0;
  height: 250px;
  position: relative;
}

.historia {
  height: 100vh;
  position: relative;
}

.historia .hitos__responsive {
  font-size: 20px;
  color: #181B32;
  line-height: 25px;
  padding: 8px 16px;
  background-color: #fff;
}

.historia .slick-arrow {
  display: none !important;
}

.historia .container-fluid {
  padding: 0;
}

.historia .hitos {
  position: absolute;
  background-color: #FFCC00;
  color: #003063;
  display: none;
  z-index: 12;
  top: 10%;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  padding: 8px 25px 8px 20px;
}

.historia .hitos::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #003063;
  position: absolute;
  right: 0;
  bottom: 0;
}

.historia .naveResponsive {
  position: absolute;
  top: 41px;
  left: 0;
  padding: 0;
  border-top: 1px solid #16246b4f;
}

.historia-content {
  color: #fff;
  background-color: #003063;
  position: relative;
  margin-top: 62px;
}

.historia-content__texto {
  position: relative;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.historia-content__texto .primeror {
  text-align: center;
  width: 700px;
  color: #fff;
}

.historia-content__texto .primeror h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
}

.historia-content__texto .primeror .parrafo {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.historia-content__texto .primeror a {
  cursor: pointer;
}

.historia-content__texto .primeror a img {
  margin: auto;
}

.historia-content__texto .item {
  position: absolute;
  width: 90%;
  padding: 23px 20px;
  bottom: 20px;
  left: 0;
  margin: auto;
  right: 0;
  background-color: #fff;
}

.historia-content__texto .item:after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #FFCC00;
  top: -40px;
  left: 0;
}

.historia-content__texto .item span {
  color: #003063;
  font-weight: 900;
  line-height: 50px;
  font-size: 33px;
  display: block;
  margin-bottom: 7px;
}

.historia-content__texto .item__texto {
  max-height: 285px;
  color: #181B32;
  position: relative;
}

.historia-content__texto .item__texto p {
  color: #181B32;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.historia .navegodor {
  width: 100%;
  float: left;
}

.historia .flechas {
  width: 12%;
  float: left;
  height: 62px;
  display: none;
}

.historia-nav {
  color: #181B32;
}

.historia-nav__item {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-weight: 600;
  height: 62px !important;
  background: #fff;
  color: #181B32;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  position: relative;
  padding: 14px 2px;
  cursor: pointer;
  outline: none;
}

.historia-nav__item .fecha {
  padding: 8px 2px;
  display: block;
}

.historia-nav__item::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  top: -10px;
  background-color: transparent;
  left: 0;
}

.historia-nav__item:before {
  content: "";
  position: absolute;
  height: 7px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

.historia .slick-current {
  color: #181B32;
  position: relative;
}

.historia .slick-current .fecha {
  display: block;
  font-weight: bold;
  background-color: #FFCC00;
  padding: 8px 2px;
  border-radius: 5px;
}

.historia .slick-current::before {
  background-color: transparent;
}

.historia .slick-current::after {
  background-color: #003063;
}

@media (min-width: 768px) {
  .historia .hitos {
    display: block !important;
  }
  .historia-content {
    margin-top: 0;
  }
  .historia-content:after {
    display: block;
  }
  .historia-content__texto .item {
    width: 395px;
    padding: 25px 23px;
    top: 38%;
    bottom: auto;
    left: 10%;
    right: auto;
  }
  .historia-content__texto .item span {
    font-size: 40px;
    margin-bottom: 17px;
  }
  .historia .naveResponsive {
    top: auto;
    bottom: 0;
    border-top: none;
  }
  .historia-nav {
    color: #003063;
  }
  .historia-nav__item {
    color: #003063;
    padding: 21px 8px;
    height: 78px  !important;
    border: none;
    margin-top: 11px;
  }
  .historia-nav__item .fecha {
    padding: 9px 0px;
  }
  .historia .slick-current {
    color: #fff;
    background: #003063;
  }
  .historia .slick-current::before {
    background-color: #FFCC00;
  }
  .historia .slick-current .fecha {
    background-color: #003063;
    padding: 0;
  }
  .historia .navegodor {
    width: 82%;
  }
  .historia .flechas {
    width: 18%;
    float: left;
    height: 78px;
    display: block;
    margin-top: 11px;
  }
  .historia .flechas span {
    display: inline-block;
    background-color: #FFCC00;
    height: 78px;
    float: left;
    width: 50%;
    cursor: pointer;
    padding: 25px 30px;
  }
  .historia .flechas span:hover {
    background-color: #e6b800;
  }
  .historia .flechas span:nth-of-type(2) img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media (min-width: 920px) {
  .historia .navegodor {
    width: 88%;
  }
  .historia .flechas {
    width: 12%;
  }
  .modal-body {
    height: 444px;
  }
  .modal-dialog {
    max-width: 790px;
  }
}

@media (min-width: 1350px) {
  .historia .container-fluid {
    padding: 0;
  }
  .modal-body {
    height: 537px;
  }
  .modal-dialog {
    max-width: 957px;
  }
}

@media (min-width: 1600px) {
  .modal-body {
    height: 736px;
  }
  .modal-dialog {
    max-width: 1378px;
  }
  .historia .navegodor {
    width: 93%;
  }
  .historia .flechas {
    width: 7%;
  }
  .historia-content__texto {
    height: 93.4vh;
  }
  .historia-content__texto .item {
    width: 442px;
    top: 45%;
  }
  .historia-content__texto .item span {
    font-size: 43px;
  }
  .historia-content__texto .item__texto p {
    font-size: 17px;
    line-height: 20px;
  }
  .historia-content__texto .primeror {
    width: 672px;
  }
  .historia-content__texto .primeror h2 {
    font-size: 44px;
    line-height: 59px;
  }
  .historia-content__texto .primeror .parrafo {
    font-size: 21px;
    margin-bottom: 34px;
    line-height: 32px;
  }
  .historia-content__texto .anio__grande {
    font-size: 160px;
    left: -30px;
  }
  .historia-content__img {
    padding: 0;
  }
}
/*# sourceMappingURL=estilos.css.map */